.Countries-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 80vw;
  margin: 10vh 10vw;
}

.Countries-country-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.Countries-country-field {
  width: 20%;
  text-align: start;
}
